
// 共通部分
body {
  width: 375px;
}
main {
  font-size: 14px;
  margin: 0 auto;
  background-color: #f0f0f0;
  
}

a {
  text-decoration: none;
  color: #000;
}

.section_title {
  margin-bottom: 50px;

  &::after {
    content: "";
    width: 40px;
    height: 1px;
    background-color: #000;
    display: block;
    margin-top: 40px;
  }

  & span.section_title_en {
    display: block;
    width: 250px;
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.5rem;
  }
  & span.section_title_ja {
    display: block;
    font-size: 0.75rem;
    font-weight: normal;
    width: 120px;
  }
}
@media  screen and (min-width: 901px){
  body {
    width: 100%;
  }
  main {
    font-size: 14px;
    margin: 0 auto;
    background-color: #f0f0f0;
  }
  
  a {
    text-decoration: none;
    color: #000;
  }
  
  .section_title {
    margin-bottom: 50px;
  
    &::after {
      content: "";
      width: 40px;
      height: 1px;
      background-color: #000;
      display: block;
      margin-top: 40px;
    }
  
    & span.section_title_en {
      display: block;
      width: 250px;
      font-size: 2rem;
      font-weight: lighter;
      letter-spacing: 0.5rem;
    }
    & span.section_title_ja {
      display: block;
      font-weight: normal;
      font-size: 0.75rem;
      width: 120px;
    }
  }
}

// ヘッダー

header {

  width: 375px;
  height: 80px;
  background-color: #dedede;

  & h1.main_logo {
    font-size: 2rem;
    font-weight: lighter; 
    margin: 0 0 0 10px;
    
  }
}
.nav_list {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin: 0;
  

  & li > a {
    display: block;
    font-size: 0.75rem;
    margin: 0 20px 0 10px;
    text-align: center;
  }

}

.nav_button {
  display: none;
 
  
}

@media  screen and (min-width: 901px) {
  header {
    display: flex;
    align-items: center;
  
    width: 100%;
    height: 80px;
    background-color: #dedede;
  
    & h1.main_logo {
      font-size: 2rem;
      font-weight: lighter;
      text-align: center;
      // margin-left: 90px;
      margin: 0 30px 0 90px;
    }
  }
  .nav_list {
    display: flex;
    align-items: center;
  
    & li > a {
      display: block;
      font-size: 1rem;
      // margin: 10px 0 0 40px;
      margin-left: 10px;
      text-align: center;
      align-items: center;
    }
  
  }
  
  .nav_button {
    width: 200px;
    height: 80px;
    border: 1px solid #000;
    background-color: #000;
    display: block;
    margin-left: auto;
    & > a {
      color: #fff;
    }
  }
}

// メイン画像

.main_visual > img {
  width: 375px;
  height: calc(100vh - 90px);
  object-fit: cover;
}
@media  screen and (min-width: 901px) {
  .main_visual > img {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
  }
}

// ニュース

section.news {
  width: 350px;
  height: 100vh;
  margin: 120px 20px 0;

  & ul.news_list {

    list-style: none;
    padding: 0;
  }

  & ul.news_list > li  > p {
    margin-bottom: 20px;
  }

  & ul.news_list > li > .date_aria > span {

    border: 1px solid #000;
    background-color: #000;
    color: #fff;
  }
}
@media  screen and (min-width: 901px){
  section.news {
    width: 1000px;
    // height: 100vh;
    height: 400px;
    margin: 120px auto 0;
  
    & ul.news_list {
      display: flex;
      justify-content: space-between;
      list-style: none;
      padding: 0;
    }
  
    & ul.news_list > li {
      border-left: 1px solid #000;
      padding-left: 20px;
    }
  
    & ul.news_list > li:nth-child(1) {
      border-left: none;
      padding-left: 0;
    }
  
    & ul.news_list > li > .date_aria > span {
      font-size: 0.5rem;
      padding: 2px 5px;
      border: 1px solid #000;
      background-color: #000;
      color: #fff;
    }
  }
}
// アバウト

.about {
  
  width: 350px;
  height: 100vh;
  // margin-bottom: 50px;

  & .about_image > img {
    width: 375px;
    height: 400px;
    object-fit: cover;
  }

  & .about_list {
    width: 30px;
    margin: 0 20px;
  }

  & .about_desc {
    width: 350px;
    line-height: 38px;
  }
}

@media  screen and (min-width: 901px) {
  .about {
    display: flex;
    width: 100%;
    // height: 100vh;
    height: 700px;
    
  
    & .about_image > img {
      width: 760px;
      height: 400px;
      object-fit: cover;
    }
  
    & .about_list {
      width: 500px;
      margin: 200px 20px 0 80px;
    }
  
    & .about_desc {
      width: 480px;
      line-height: 38px;
    }
  }
}

// ビジネス

.business {
  width: 375px;
  height: 1000px;
  margin: 250px 0 500px;

  & .business_list {
    width: 375px;
    height: 100vh;
    // display: flex;
    // margin: 0 auto;
  }
  // & .business_list_left {
  //   width: 40%;
  //   height: 100vh;
  //   margin: 100px auto;
  // }
  // & .business_list_right {
  //   width: 40%;
  //   height: 100vh;
  //   margin: 0 auto;
  // }
  & .business_item > h3 {
    margin-top: 50px;
  }
  & .business_item > img {
    width: 370px;
    height: 230px;
  }
}

@media  screen and (min-width: 901px) {
  .business {
    width: 1000px;
    height: 900px;
    margin: 100px auto 100px;
  
    & .business_list {
      width: 1000px;
      height: 100vh;
      display: flex;
      margin: 0 auto;
    }
    & .business_list_left {
      width: 40%;
      height: 100vh;
      margin: 100px auto;
    }
    & .business_list_right {
      width: 40%;
      height: 100vh;
      margin: 0 auto;
    }
    & .business_item > h3 {
      margin-top: 50px;
    }
    & .business_item > img {
      width: 370px;
      height: 230px;
    }
  }
}
// 会社

.company {
  width: 375px;
  height: 1230px;
  margin: 0 0 10px;


  & .company_desc {
    width: 350px;
    height: 800px;
    margin-left: 10px;
    padding-top: 30px;
    background-color: #fff;
    text-align: center;  
  }

  & .section_title {
    margin-left: 30px;
  }



  & .info_item > dt {
    width: 20%;
    text-align: start;
    margin-left: 15px;
    line-height: 35px;
  }

  & .info_item > dd {
    
    text-align: start;
    line-height: 35px;
    margin-left: 30px;
  }

  & .company_image > img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    margin: 30px 10px;
  }
}
@media  screen and (min-width: 901px) {
  .company {
    width: 1000px;
    height: 100vh;
    margin: 0 auto;
    position: relative;
  
    & .company_desc {
      width: 600px;
      height: 700px;
      padding-top: 100px;
      background-color: #fff;
      text-align: center; 
      margin-bottom: 50px;
    }
  
    & .section_title {
      margin-left: 30px;
    }
  
    // & .company_info {
    //   display: flex;
    //   flex-wrap: wrap;
    // }
    & .info_item {
      display: flex;
    }
    
    & .info_item > dt {
      display: block;
      text-align: center;
      width: 20%;
      // line-height: 35px;
    }
  
    & .info_item > dd {
      width: 80%;
      text-align: start;
      line-height: 35px;
      margin-left: 0;
    }
    & .company_image {
      position: absolute;
      top: 115px;
      left: 500px;
    }
    & .company_image > img {
      width: 600px;
      height: 400px;
      object-fit: cover;
    }
  }  
}
// フッター

footer {
  width: 375px;


  & h2.main_logo {
    font-size: 2rem;
    font-weight: lighter;
    text-align: start;
    margin-left: 20px ;
  }

  & .footer_desc {
    // margin-left: auto;
    margin-left: 20px;
  }

  & p.footer_copy {
    display: block;
    width: 300px;
    margin: 10px 0 10px 20px;
  }
}
@media  screen and (min-width: 901px) {
  footer {
    width: 100%;
    margin: 0 auto;

    & .footer_content {
      width: 1000px;
      display: flex;
      margin: 0 auto;
    }
  
    & h2.main_logo {
      font-size: 2rem;
      font-weight: lighter;
      text-align: center;
      margin: 80px 0 ;
    }
  
    & .footer_desc {
      // width: 250px;
      
      margin-left: auto;
      margin-top: 40px;
    }
  
    & p.footer_copy {
      display: block;
      width: 1000px;
      margin: 20px 260px
    }
  }
}
